*{
    font-family: 'VT323', monospace;
}
#heading{
    font-size: 30px;
    background-color: #1f1e1e;
    padding:10px;
    border-radius: 10px;;

}
#main{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#btn{
   height: 80px;
   width: 320px;
   font-size: 50px;
   background: #1f1e1e;
   border-radius: 15px;
}
